@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Supermercado+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #23252C;
    font-family: 'Mulish', sans-serif;
}
h1{
    font-family: 'Supermercado One', cursive;
}